@keyframes dropdownAppearence {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes dropdownDisappearence {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes spinningCircle {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(36deg);
    }
    20% {
        transform: rotate(72deg);
    }
    30% {
        transform: rotate(108deg);
    }
    40% {
        transform: rotate(144deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    70% {
        transform: rotate(252deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(324deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideTextChanging {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    50% {
        opacity: .4;
        transform: translateY(5%);
    }
    75% {
        opacity: .8;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes buttonHovered {
    to {
        padding-right: 0;
    }
}

@keyframes buttonUnhovered {
    to {
        padding-right: 15px;
    }
}

@keyframes stickyNavAppearence {
    from {
        top: -10%;
        opacity: .1;
    }
}

@keyframes hoverToItem {
    to {
        transform: translateX(10px);
        transition: .3s ease-in-out;
        color: var.$primary-color;
    }
}

@keyframes unhoverToItem {
    to {
        transform: translateX(0);
        transition: .3s ease-in-out;
        color: var.$primary-color;
    }
}