@use 'variables' as var;
@use 'generals' as gen;
@use 'helper' as help;
.footer {
    position: relative;
    font-family: var.$secondary-font;
    font-size: 15px;
    color: var.$footer-font-color;
    &>.padding-custom-container {
        padding: 50px 50px 50px;
    }
    &__title {
        @include gen.title(var.$secondary-color, var.$primary-color, $font-size: 26px, $letter-spacing: 0)
    }
    &>&__newsletter-wrapper {
        background-color: var.$bg-color-4;
        border-radius: 80px;
        padding: 40px 50px;
        position: relative;
        margin-bottom: -80px;
        z-index: 1;
    }
    &__input {
        position: relative;
        transform: skew(-18deg);
        margin-right: -15px;
        &>input[type="email"] {
            display: inline-block;
            width: 100%;
            background-color: #262228;
            border: none;
            color: var.$secondary-color;
            outline: none;
            padding: 16px;
            position: relative;
            &::placeholder {
                display: inline-block;
                transform: skewX(18deg);
                font-family: var.$secondary-font;
                font-size: 14px;
                padding-left: 20px;
                color: var.$footer-font-color;
                font-weight: 600;
                &::before {
                    content: '\f2b6';
                    font-family: var.$icon-font-awesome;
                    color: var.$primary-color;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
    &__btn-submit {
        background-color: var.$primary-color;
        border: none;
        font-family: var.$secondary-font;
        font-size: 14px;
        font-weight: 700;
        color: var.$font-color-5;
        text-transform: uppercase;
        position: relative;
        padding: 17px 25px;
        margin-left: 5px;
        transform: skewX(-18deg);
        &>span {
            display: inline-block;
            transform: skewX(18deg);
            &>i {
                font-size: 12px;
                margin-left: 8px;
            }
        }
        // &::before {
        //     content: '';
        //     position: absolute;
        //     left: -20px;
        //     top: 0;
        //     border-width: 0 0 55px 20px;
        //     border-style: solid;
        //     border-color: transparent transparent var.$primary-color transparent;
        // }
        // &::after {
        //     content: '';
        //     position: absolute;
        //     right: -20px;
        //     top: 0;
        //     border-width: 55px 20px 0 0;
        //     border-style: solid;
        //     border-color: var.$primary-color transparent transparent transparent;
        // }
        &:hover {
            background-color: var.$secondary-color;
            color: var.$primary-color;
            transition: .5s ease-in-out;
        }
    }
    &__main-content {
        padding-top: 50px;
        font-weight: 600;
        background-image: url('../assets/backgrounds/s_footer_bg.jpg');
    }
    &__contact-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        line-height: 28px;
        font-size: 15px;
        font-weight: 500;
        margin-top: 35px;
        &>li:nth-child(2)::before {
            content: '\f3c5';
            font-family: var.$icon-font-awesome;
            font-weight: 600;
            margin-right: 10px;
        }
        &>li:nth-child(3)::before {
            content: '\f025';
            font-family: var.$icon-font-awesome;
            font-weight: 600;
            margin-right: 10px;
        }
        &>li:nth-child(4)::before {
            content: '\f2b6';
            font-family: var.$icon-font-awesome;
            font-weight: 600;
            margin-right: 10px;
        }
    }
    &__category-list {
        font-size: 14px;
        font-weight: 500;
        &>h5 {
            @include gen.footerTitle;
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                width: 30px;
                height: 3px;
                left: 0;
                bottom: 0;
                background-color: var.$primary-color;
            }
        }
        text-transform: capitalize;
        &>ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 45px;
            &>li>a {
                color: var.$footer-font-color;
                display: inline-block;
            }
        }
    }
    &__follow-info {
        &>h5 {
            @include gen.footerTitle;
        }
        &>ul {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 35px;
            &>li {
                padding: 7px 12px;
                color: #fff;
                font-size: 14px;
                border-radius: 3px;
                &:first-child {
                    background-color: rgb(59, 89, 152);
                }
                &:nth-child(2) {
                    background-color: #55acee;
                }
                &:nth-child(3) {
                    background-color: #d71e18;
                }
                &:last-child {
                    background-color: #1565c0;
                }
            }
        }
    }
    &__newsletter {
        &>h5 {
            @include footerTitle;
        }
        &>form {
            position: relative;
            margin-top: 35px;
            &>input[type="email"] {
                width: 100%;
                background-color: #262228;
                color: var.$secondary-color;
                outline: none;
                border: none;
                padding: 13px;
                &::placeholder {
                    font-family: var.$secondary-font;
                    font-size: 14px;
                    margin-left: 40px;
                    color: var.$font-color-4;
                    &::before {
                        content: '\f0e0';
                        font-family: var.$icon-font-awesome;
                        font-weight: 600;
                        color: var.$primary-color;
                    }
                }
            }
            &::after {
                position: absolute;
                right: 0;
                content: '\f135';
                font-family: var.$icon-font-awesome;
                font-weight: 600;
                color: var.$font-color-5;
                padding: 14px 20px;
                background-color: var.$primary-color;
            }
        }
    }
    &__copyright-wrapper {
        padding: 20px;
        background-color: #161417;
        & h5 {
            font-size: 14px;
            color: var.$footer-font-color;
            font-family: var.$secondary-font;
            &>span {
                color: var.$primary-color;
            }
        }
    }
    &__fire-illustration-left,
    &__fire-illustration-right {
        position: absolute;
        bottom: 9%;
    }
    &__fire-illustration-left {
        left: 4%;
    }
    &__fire-illustration-right {
        right: 4%;
    }
}