@use 'variables' as var;
@use 'helper' as help;
.preloader {
    display: none;
    background-color: #161417;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    &>img {
        @include help.absCenter
    }
}

.btn-wrapper {
    display: inline-block;
    padding-right: 15px;
    margin-top: 30px;
    position: relative;
    &>button {
        padding: 16px 35px;
        background-color: var.$primary-color;
        border: none;
        text-transform: uppercase;
        font-family: var.$secondary-font;
        font-weight: 700;
        font-size: 15px;
        transform: skewX(-16deg);
        &>span {
            color: var.$font-color-5;
            vertical-align: middle;
            display: inline-block;
            transform: skewX(16deg);
        }
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        display: inline-block;
        transform: skewX(-16deg);
        background-color: var.$primary-color;
        width: 5px;
        height: 100%;
    }
}

.padding-container {
    padding: 100px 0 100px;
}

.padding-x-container {
    padding: 0 260px;
}

.custom-container {
    max-width: 1230px;
}

.nav--active {
    background-color: var.$primary-color;
    color: var.$font-color-5 !important;
    transition: .5s;
}

.owl__button--active {
    color: var.$primary-color;
}

.hovered-item {
    background-color: var.$primary-color;
}

.sticky-nav {
    position: fixed;
    padding: 0;
    background-image: url('../assets/backgrounds/header_bg.jpg');
    width: 100%;
    top: 0;
    left: 0;
}

.hover {
    transform: translateX(10px);
    transition: .3s ease-in-out;
    color: var.$primary-color
}

.btn--scroll-to-top {
    display: none;
    padding: 6px 14px 10px 14px;
    position: fixed;
    bottom: 5%;
    right: 50px;
    border: none;
    z-index: 9999;
    background-color: var.$primary-color;
    &>i {
        color: var.$font-color-5;
        vertical-align: middle;
        font-size: 20px;
    }
    &:hover {
        background-color: #444;
        transition: .3s ease-in-out;
    }
    &:hover>i {
        color: var.$secondary-color;
        transition: .3s ease-in-out;
    }
}

.search {
    &-model {
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(23, 26, 33, .95);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        &>form {
            display: inline-block;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &>input {
                color: var.$secondary-color;
                font-size: 36px;
                outline: none;
                background-color: transparent;
                border: none;
                border-bottom: 3px solid rgba(255, 255, 255, .1);
                padding: 23px 0;
                width: 555px;
                &::placeholder {
                    font-family: var.$secondary-font;
                    font-size: 36px;
                    color: rgba(255, 255, 255, .3);
                }
            }
            &>button {
                @include help.absCenterY;
                right: 0;
                background-color: transparent;
                border: none;
                &>i {
                    color: var.$primary-color;
                    font-size: 30px;
                }
            }
        }
    }
}

@mixin submenu($border: 1px solid #3a2746,
$box-shadow: 0px 30px 70px 0px rgb(137 139 142 / 15%),
$border-radius: 2px,
$background-color: var.$bg-color-2) {
    border: $border;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background-color: var.$bg-color-2;
}

@mixin introducing($flex-direction: column,
$flex-wrap: nowrap,
$margin-bottom: 75px) {
    display: flex;
    flex-wrap: $flex-wrap;
    flex-direction: $flex-direction;
    margin-bottom: $margin-bottom;
}

@mixin title($font-color-primary: var.$font-color-5,
$font-color-secondary: var.$primary-color,
$font-size:36px,
$font-weight: 800,
$text-align: start,
$letter-spacing: -2px) {
    font-family: var.$primary-font;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $font-color-primary;
    text-transform: uppercase;
    text-align: $text-align;
    letter-spacing: $letter-spacing;
    &>span {
        color: $font-color-secondary;
    }
}

@mixin description($font-color: var.$font-color-4,
$font-size: 15px,
$text-align: start,
$margin: 5px 0 25px) {
    font-family: var.$secondary-font;
    font-size: $font-size;
    color: $font-color;
    font-weight: 500;
    line-height: 28px;
    text-align: $text-align;
    margin: $margin;
}

@mixin footerTitle {
    font-size: 16px;
    font-family: var.$primary-font;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 20px;
    color: #c8c8c8;
    position: relative;
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 30px;
        height: 3px;
        left: 0;
        bottom: 0;
        background-color: var.$primary-color;
    }
}