@use 'variables' as var;
@use 'generals' as gen;
.top-contact-info {
    background-color: var.$bg-color-1;
    height: 45px;
}

.container-custom {
    max-width: 1443px;
    height: 100%;
    .offer-counter {
        font-size: 0.8125rem;
        color: var.$font-color;
        font-family: var.$secondary-font;
        font-weight: 600;
        display: flex;
        align-items: center;
        &>span {
            display: inline-block;
            padding: 12px 25px;
            background-image: url('../assets/backgrounds/offer_count_bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            color: #000;
            font-family: var.$secondary-font;
            font-weight: 700;
            font-size: 1.125rem;
        }
    }
    .contact-method-list {
        display: flex;
        justify-content: center;
        .social-network-list {
            display: flex;
            margin-right: 30px;
            .social-network__item {
                font-size: 0.8125rem;
                margin: 0 8px;
                &>a>i {
                    color: var.$font-color;
                    &:hover {
                        color: var.$primary-color;
                        transition: .5s ease-in-out;
                    }
                }
            }
        }
        .email-contact {
            border-left: 2px solid var.$primary-color;
            display: flex;
            align-items: center;
            &>i {
                font-size: 0.75rem;
                margin-left: 15px;
                color: var.$primary-color;
            }
            &>a {
                display: inline-block;
                font-size: 12px;
                color: var.$font-color;
                font-family: var.$secondary-font;
                font-weight: 600;
                margin-left: 10px;
            }
        }
    }
}


/* Navigation Bar */

.nav {
    position: relative;
    z-index: 99;
    margin-bottom: -103px;
    &__container {
        background-image: url('../assets/backgrounds/header_bg.jpg');
        background-position: center right;
        background-size: cover;
        padding: 28px 30px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    &__brand {
        display: flex;
        align-items: center;
    }
    &__item-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        &>li {
            position: relative;
            &:first-child>ul {
                &>li:first-child>a {
                    color: var.$primary-color;
                }
            }
        }
        &>.minicart {
            @include gen.submenu($border: none, $box-shadow: 0px 12px 24px 0px rgb(120 120 120 / 30%));
            display: none;
            position: absolute;
            top: 100%;
            right: 18%;
            width: 350px;
            padding: 25px 25px 40px;
            &>.cart {
                &__product {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #3a2746;
                    gap: 20px;
                    padding-bottom: 30px;
                    & .product {
                        &-content {
                            font-family: var.$secondary-font;
                            font-weight: 600;
                        }
                        &-img {
                            width: 100px;
                        }
                        &-name {
                            display: inline-block;
                            color: var.$nav-font-color;
                            font-size: 14px;
                            margin-bottom: 5px;
                            white-space: nowrap;
                        }
                        &-delete {
                            border: none;
                            background-color: transparent;
                            color: var.$primary-color;
                        }
                        &-new-price {
                            font-weight: 500;
                            color: var.$font-color;
                            font-size: 13px;
                        }
                        &-old-price {
                            font-weight: 500;
                            color: var.$font-color;
                            opacity: .5;
                            font-size: 13px;
                            text-decoration: line-through;
                        }
                    }
                }
                &__link,
                &__checkout {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    vertical-align: middle;
                    font-family: var.$secondary-font;
                    text-transform: uppercase;
                    padding: 15px 0;
                }
                &__link {
                    font-size: 14px;
                    font-weight: 400;
                    background-color: var.$primary-color;
                    color: var.$font-color-5;
                    letter-spacing: 2px;
                    margin-bottom: 8px;
                }
                &__checkout {
                    font-size: 14px;
                    background-color: #291b35;
                    color: var.$nav-font-color;
                    letter-spacing: 2px;
                }
            }
            & .total-price {
                padding: 25px 0;
                font-family: var.$secondary-font;
                font-weight: 500;
                color: var.$font-color;
                display: flex;
                justify-content: space-between;
                margin: 0;
            }
        }
    }
    &__item {
        display: inline-block;
        font-family: var.$primary-font;
        font-size: 14px;
        color: var.$nav-font-color;
        font-weight: 700;
        transform: skewX(-16deg);
        text-transform: uppercase;
        padding: 15px 23px;
        line-height: 1;
        &>span {
            display: block;
            transform: skew(16deg);
        }
        &-dropdown {
            display: none;
            @include gen.submenu;
            position: absolute;
            left: -9px;
            top: 100%;
            font-family: var.$primary-font;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            transform-origin: center top;
            white-space: nowrap;
            padding: 18px 100px 18px 0;
            &>li {
                &>a {
                    display: block;
                    color: var.$secondary-color;
                    padding: 10px 0 10px 30px;
                    &:hover {
                        color: var.$primary-color;
                        transition: .5s;
                    }
                }
            }
        }
    }
    &__cart {
        display: inline-block;
        margin-right: 35px;
        color: #fff;
        margin-bottom: 5px;
        margin-left: 10px;
        padding: 5px;
        position: relative;
        &>i {
            font-size: 0.875rem;
            &::after {
                content: '0';
                position: absolute;
                display: inline-block;
                padding: 3px 5px;
                background-color: var.$primary-color;
                color: var.$font-color-5;
                font-size: 12px;
                font-family: var.$secondary-font;
                font-weight: 700;
                border-radius: 50%;
                top: 10%;
                left: 60%;
            }
        }
        &:hover {
            color: var.$secondary-color;
            cursor: pointer;
        }
    }
    &__search-btn-wrapper {
        display: inline-block;
        color: var.$primary-color;
        padding: 5px 20px 14px;
        background-color: var.$bg-color-1;
        border-radius: 5px;
        box-shadow: 0px 3px 7px 0px rgb(128 18 40 / 20%), inset 0px 3px 7px 0px rgb(56 17 33 / 40%);
        &>i {
            font-size: 13px;
            vertical-align: middle;
        }
    }
}


/* -------------- */